.page { font-size: 22px; height: 900px; width: auto; /*border-bottom: 5px solid black;*/ background: #EDCD17; color: white; text-align: center; position: relative; }
body { padding: 0; margin: 0; position: relative; font-family: Helvetica,Arial; }

.lang { position: absolute; top: 35px; left: 0px; font-size: 18px; height: 30px; width: 300px; text-align: left; padding-left: 40px; font-weight: bold; }

.center { text-align: center; width: 100%; height: 740px; display: table; }
.inner { display: table-cell; vertical-align: middle; }

.fonted { font-family: 'drogowskazbold'; }

.big { font-size: 75px; line-height: 90px; }
.big2 { font-size: 90px; line-height: 115px; }

a { color: white !important; text-decoration: underline !important; }
.chead { padding-bottom: 50px; font-size: 20px; line-height: 30px; }

.page .footer, .page .header { font-size: 17px; font-weight: bold; height: 80px; }
.footer .ico, .header .ico { font-size: 45px; padding: 10px 0; }

.page:hover .footer, .page:hover .header { opacity: 1; }

.footer.active, .header.active { cursor: pointer; opacity: 0; }
.footer.active.shaded, .header.active.shaded { opacity: 0; }

.page .header div, .page .footer div { text-align: center; }
.footer.active:hover, .header.active:hover { color: black; }
.footer.active:hover a, .header.active:hover a { color: black !important; }

.reg { margin-bottom: 80px; }
.reg .table { display: inline-table; width: 812px; font-weight: bold; border-collapse: separate; border-spacing: 2px; }
.reg-col { height: 50px; background: black; color: white; line-height: 50px; margin-right: 2px; text-align: left; padding: 0 20px; }
.reg-col input { border: 0; height: 40px; font-size: 20px; font-family: 'drogowskazbold'; background: black; color: white; width: 100%; font-family: Helvetica,Arial; }
.reg-col select { border: 0; height: 30px; font-size: 20px; }

.reg-col.title { width: 150px; }
.reg-col.medium { width: 160px; }
.reg-col.tcol { width: 50px; padding: 0; text-align: center; cursor: pointer; }
.reg-col.tcol.active { background: white; color: black; }

.reg-row { }
.reg-row.active .reg-col { background: white !important; color: black; }
.reg-row.active .reg-col input { background: white !important; color: black; }
.reg-row.red .reg-col { background: darkred; }
.reg-row.red .reg-col input { background: darkred; }


#send_form { border: 0; background: transparent; cursor: pointer; text-decoration: underline; color: white; }

.twocolumn { width: 1000px; display: inline-block; font-size: 16px; line-height: 20px; }
.twocolumn .left, .twocolumn .right { float: left; width: 450px; padding: 10px; }
